

body{
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: pink;
  align-content: center;
  background-image: url("https://www.google.com.kh/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiYl9nkya7eAhXOZt4KHSjcAdQQjRx6BAgBEAU&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D8NT7Qa1gzLE&psig=AOvVaw1wvTFHk5vbw1eQS0TnxDd3&ust=1541002711248596");

}
.muced{


}
