
body{
background-image: url("https://farm8.static.flickr.com/7539/15641550448_728a83ba97_b.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: serif;
font-size: 1.3em;
color: #gray;
text-align:center;
text-shadow: 1.5px 1.5px 3px white;

}
.sub{
  border: none;
  padding:20px;
  width: 20%;
  border-radius: 10px;
  font-size: 15px;
    background-image:linear-gradient(to top left, blue, white) ;
    background-color: gray;
    cursor: pointer;

}
